.jacquard-24-regular {
  font-family: "Jacquard 24", system-ui;
  font-weight: 400;
  font-style: normal;
}
body{
    background-color: #2d1902;
    font-family: "Jacquard 24", system-ui;
    color: #e3caab;
}
h1{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 100;
    font-size: 120px;
    z-index: 1;
}
#wave{
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height:auto;
    z-index: 0;
}